* {
    margin: 0;
    padding: 0;
    border: 0;
}

.logo {
    width: 120px;
}

.titulo-fundo
{
    background-color: #1577fd;
    color: #ffff;
    height: 55px;
    text-align: center;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.sub
{
    background-color: #ff6803;
    color: #ffff;
    height: 30px;
    text-align: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 100%;
}

.navbar li {
    padding-left: 30px;
}

.navbar {
    background-color: #ffff;
}

.form-control {
    width: 500px;
}

.btn-search {
    color: cornflowerblue;
    border-color: cornflowerblue;
}

.btn-search:hover {
    background-color: rgb(153, 153, 238);

}

h1,
h2,
h3,
.sub {
    text-align: center;
}

.cards-home {
    display: flex;
    height: 25rem;

}

.card {
    align-items: center;
    margin: auto;
    height: 80%;
}

.card img {
    height: 50%;
    width: 100%;
}

.btn-primary {
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 0;
}

footer,
.copyright {
    text-align: center;
}

.info-fim {
    background-color: #1577fd;
    display: flex;
    color: #ffff;
    margin: 15px;
}

.fim-pt1 {
    padding: 30px;
    margin-left: 100px;
    font-size: small;
}

.fim-pt2 {
    padding: 60px;
    align-items: right;
    margin-left: auto;
    margin-right: 100px;
}

.inpt {
    width: 100%;
    height: 40px;
    box-shadow: 6px 4px 6px;
}

.btn-env {
    box-shadow: 6px 4px 6px;
    height: 40px;
    align-items: center;
    justify-content: center;
       
}

.botaoseta
{
    display: flex;
}

.formasdepagamento {
    color: #1577fd;
    margin-bottom: 0;
}
.val-oferta
{
    color: red;
}
.border-img
{
    border-radius: 15px;
}
i
{
    font-size: 25px;
}
.contatos
{
    font-size: 20px;
    font-weight: bold;
}
.form-cont
{
    
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
   
}
.mb-3
{
    margin: 10px 35% 20px 35%;
    align-items: center;
    font-weight: bold;
}
.btn-envio
{
    width: 100px;
    align-items: center;
    margin: 10px 35% 20px 35%;
    background-color:  #1577fd;
    color: #ffff;
    border-radius: 5px;
}
.carousel-inner
{
    width: 100%;
    height: 28rem;
    overflow: hidden;
}
.carousel-inner img
{
    width: 100%;
    height: 28rem;    
}
.carousel-caption
{
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: bold;
}
.seta
{
    color: black;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: block;
}